<div class="container-fluid bg-success">
    <div class="container">
        <nav>
            <a routerLink="/">
                <h3 class="fw-bold py-3"><i class="fa fa-mobile"></i> Contact App</h3>
            </a>
        </nav>
    </div>
</div>

<div class="container">
    <h6 class="fw-bold fst-italic">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, laboriosam fuga doloremque repellendus fugiat quasi, itaque optio sed expedita est architecto suscipit exercitationem tempore, placeat velit id molestiae eveniet accusantium?
    </h6>
</div>